@font-face {
    font-family: "SauceCodeProNF";
    src: url("../fonts/SourceCodePro/SauceCodeProNerdFont-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 1em;
  background: #fafafa;
}

nav {
  background: #004aad;
  color: white;
  padding: 1em;
}

nav a {
  color: white;
  margin-right: 1em;
  text-decoration: none;
}

main {
  margin-top: 2em;
}
