@font-face {
    font-family: "SauceCodeProNF";
    src: url("../fonts/SourceCodePro/SauceCodeProNerdFont-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: SauceCodeProNF, sans-serif;
  margin: 0;
  padding: 0  ;
  background: #f5f5f5;
}

nav {
    background: #004aad;
    color: white;
    padding: 1em 2em;
}

nav a {
    color: white;
    margin-right: 1em;
    padding: 0.5em 1em;
    text-decoration: none;
    transition: all 0.2s;
    border-radius: 4px;
}

nav a:hover {
    background: rgba(255, 255, 255, 0.15);
}

main {
  margin-top: 2em;
}
