{% extends "base.html" %}
{% block content %}
<h1>Resumen general</h1>

<div id="section">
    <h2>Balance Últimos meses</h2>
    <div id="table">
        {{ balance_per_month_table | safe }}
    </div>
</div>

<div id="section">
    <h2>Últimos movimientos</h2>
    <div id="table">
        {{ last_movements_table | safe }}
    </div>
</div>

<div id="section">
    <h2>Movimientos por categoría</h2>
    <div id="plot">
        {{ bar_plot_per_categories_html | safe }}
    </div>
</div>




{% endblock %}
